# Python
backend/.venv/
backend/__pycache__/
*.pyc
backend/.env

# JS / React
node_modules/
frontend/node_modules/
frontend/dist/

# Secrets OAuth / Gmail
backend/credentials.json
backend/token.json

# OS
.DS_Store